# Ignore compiled files
*.o
*.class
*.exe

# Ignore logs and temporary files
*.log

DSP48A1/lint/.qverify/
DSP48A1/lint/qcache/
DSP48A1/lint/work/
DSP48A1/sim/work/

SPI_Slave_Interface/lint/*/.qverify/
SPI_Slave_Interface/lint/*/qcache/
SPI_Slave_Interface/lint/*/work/
SPI_Slave_Interface/sim/*/work/

DSP48A1/viva/*

!DSP48A1/viva/*.xdc

SPI_Slave_Interface/viva/*/*
